html, body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.menu{
    background: #2c3e50;
    padding: 20px 0;
}

.menu ul{
    padding: 0;
    margin: 0;
    text-align: center;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    display: inline;
}
.menu ul li a{
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    font-weight: 700;
    transition: 0.5s;
}
.menu ul li a.active{
    background:#e91e63;
}
.menu ul li:hover a{
    background:#e91e63;
}
.section1, .section2, .section3, .section4, .section5{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    text-transform: uppercase;
    font-weight: 700;
    color:#e91e63;
}
section:nth-child(odd){
    background: #c8d6e5;
}
.center{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.center ul li{
    list-style: none;
    margin: 0 10px;
}
.center ul li a{
    position: relative;
    width: 60px;
    height:60px;
    line-height:60px;
    text-align: center;
    display: block;
    font-size:30px;
    border-radius: 50%;
}

.center ul li a i.fab{
    color: #666;
    transition: 0.5s;
}
.center ul li:hover i.fab{
    color:blue;
    text-shadow: 0 0  5px rgb(255, 255, 255);
}